<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @register.First %>
</p>

<p>
  <strong>Name:</strong>
  <%= @register.Name %>
</p>

<p>
  <strong>Last:</strong>
  <%= @register.Last %>
</p>

<p>
  <strong>Name:</strong>
  <%= @register.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @register.Phone %>
</p>

<p>
  <strong>Password:</strong>
  <%= @register.Password %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @register.Zip %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
